{%extends 'base.html'%}
{% load static %}

{%block content%}



    <header class="min-h-screen bg-black bg-opacity-50 showcase border-gray-600 border-b-30 flex justify-center items-center bg-no-repeat"  style="background-image: url('{% static 'assets/background_netplus.png' %}');">
        <div class="z-10 h-full py-32 md:py-0 text-gray-100 text-center flex items-center flex-col">
            <h1 class="font-semibold text-4xl md:text-5xl w-10/12 md:w-3/4 text-center"><p><br></p><p><br></p>
                Tu cine en casa, a un clic de distancia
            </h1>
            
            

            

            <p><br></p>
            <p><br></p>
            <p><br></p>
            <!-- <p>Si estas registrado debes iniciar sesion<br></p> -->
            <p><br></p>

              
       

    {%endblock content%}



    

    
    